!!!
%html
  %head
    %title БД Галатея
    %link(rel="stylesheet" href="/bootstrap/css/bootstrap.css")
    %link(rel="stylesheet" href="/bootstrap/css/bootstrap-responsive.css")
  %body
    = yield
    %script(src="/bootstrap/js/bootstrap.js")