.container
  .navbar-header
    %button.navbar-toggle{"data-target" => "#navbar-main", "data-toggle" => "collapse", type: "button"}
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
  #navbar-main.navbar-collapse.collapse
    %ul.nav.navbar-nav
      - cls = session['block']==0 ? "my_active" : ""
      %li{class: cls}
        %a{href: to('/')}='На главную'
      - cls = session['block']==1 ? "my_active" : ""
      %li{class: cls}
        %a{href: to('/clients')}='Клиенты'
      - cls = session['block']==2 ? "my_active" : ""
      %li{class: cls}
        %a{href: to('/docs')}='Заявки на Перемещение'
      -#%li
      -#  %a{href: to('#')}=''
