%form#components.form-horizontal{role: "form"}
  .container-fluid
    .row.content
      %label.col-md-4.control-label{for: "textinput"} Введите карту клиента
      .col-md-4
        %input#textinput.form-control.input-md{name: "textinput", placeholder: "№ карты", style: "cursor: auto; background-attachment: scroll; background-position: 100% 50%; background-repeat: no-repeat;", type: "text"}/
        %span.help-block Поле для ввода карты клиента
        %label
    .row
      %label.col-md-4.control-label{for: "textinput"} Новая карта
      .col-md-4
        %input#textinput.form-control.input-md{name: "textinput", placeholder: "№ карты", style: "cursor: auto; background-attachment: scroll; background-position: 100% 50%; background-repeat: no-repeat;", type: "text"}/
        %span.help-block Поле для ввода новой карты
        %label
    .row
      %button.alert.col-md-3.col-md-offset-4
        Заменить карту