.row
  %label.col-md-4.text-danger.control-label{for: "bonuses"} Начислить бонусы
  .col-md-4
    %input#bonuses.form-control.af.input-md{hidden: 1, name: "bonuses", next_id: "#bt3", autocomplete: "off", style: "cursor: auto; background-attachment: scroll; background-position: 100% 50%; background-repeat: no-repeat;", type: "text"}
.row
  %label.control-label.col-md-4
.row
  %button#bt3.submit.col-md-2.col-md-offset-5
    Начислить бонусы
