.container-fluid
  .row.content
    %label.col-md-4.control-label{for: "surname"} Фамилия
    .col-md-4
      %input#surname.form-control.af.input-md{name: "surname", next_id: "#name", autocomplete: "off", placeholder: "Фамилия клиента", style: "cursor: auto; background-attachment: scroll; background-position: 100% 50%; background-repeat: no-repeat;", type: "text", value: @hsh[:family]}/
  .row
    %label.col-md-4.control-label{for: "name"} Имя
    .col-md-4
      %input#name.form-control.af.input-md{name: "name", next_id: "#lastname", autocomplete: "off", placeholder: "Имя клиента", style: "cursor: auto; background-attachment: scroll; background-position: 100% 50%; background-repeat: no-repeat;", type: "text", value: @hsh[:name]}/
  .row
    %label.col-md-4.control-label{for: "lastname"} Отчество
    .col-md-4
      %input#lastname.form-control.af.input-md{name: "lastname", next_id: "#city", autocomplete: "off", placeholder: "Отчество клиента", style: "cursor: auto; background-attachment: scroll; background-position: 100% 50%; background-repeat: no-repeat;", type: "text", value: @hsh[:surname]}/
  .row
    %label.col-md-4.control-label{for: "city"} Город
    .col-md-4
      %input#city.form-control.af.input-md{name: "city", next_id: "#phone", placeholder: "Город", style: "cursor: auto; background-attachment: scroll; background-position: 100% 50%; background-repeat: no-repeat;", type: "text", value: @hsh[:city]}
  .row
    %label.col-md-4.control-label{for: "mobile"} Телефон мобильный
    .col-md-4
      %input#phone.form-control.bfh-phone{"data-format" => "+7 (ddd) ddd-dddd", next_id: "#pol", autocomplete: "off", :name => "phone", :type => "tel", :value => @hsh[:mobile]}
  .row
    %label.col-sm-4.col-xs-5.control-label{for: "fl_pol"}  Пол
    .col-sm-4.col-xs-3
      %label.radio-inline
        - ck=@hsh[:m_f] ? nil : 1
        %input#pol.af{:name => "fl_pol", next_id: "#birthday", :type => "radio", :value => 'm', :checked => ck}
        М
      %label.radio-inline
        - ck=@hsh[:m_f] ? 1 : nil
        %input{:name => "fl_pol", :type => "radio", :value => 'f', :checked => ck}
        Ж
  .row
    %label.control-label.col-md-4
  .row
    %label.control-label.col-xs-4.col-md-4 Дата рождения:
    .col-md-4.col-xs-4{:id=>"datepicker"}
      %label.input-group.date
        %input#birthday.form-control{:name => "birthday", next_id: "#fl_sms", :type => "text", autocomplete: "off", value: @hsh[:birthday]}
        %span.input-group-addon
          %i.glyphicon.glyphicon-th
  .row
    %label.col-sm-4.col-xs-5.control-label{for: "fl_sms"} Соглашаюсь с СМС-рассылкой
    .col-sm-1.col-xs-1
      - chk=@hsh[:sms] ? 1 : nil
      %input#fl_sms.form-control.af.input{name: "fl_sms", next_id: "#bt1", type: "checkbox", checked: chk}

  .row
    %label.control-label.col-md-4
  .row
    %button#bt1.submit.col-md-2.col-md-offset-5{:onclick => "return ORLY();"}
      Сохранить анкету

:javascript
  $("#datepicker").datetimepicker({
        language: 'ru',
        pickTime: false,
        defaultDate: "01.01.1980",
        viewMode: 'years',
        autoclose: true
      });
  function ORLY(){
  	return confirm('Сохранить?');
  }
